.heavy {
  font-weight: bold;
}

.break {
  word-break: break-all;
}

.italic {
  font-style: italic;
}

.small-text {
  font-size: small;
}

.smaller-text {
  font-size: 12px;
}

.x-small-text {
  font-size: x-small;
}

.normal-text {
  font-size: initial;
  font-weight: initial;
}

.large-text {
  font-size: large;
}

.larger-text {
  font-size: larger;
}

.x-large-text {
  font-size: x-large;
}

.xx-large-text {
  font-size: xx-large;
}